.services {
  margin: 20px 20px 0px 20px;
  height: calc(100vh - 100px);
}

.cards_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card_service {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 10px;
  height: 420px;
  gap: 10px;
}

.card_service .text_service {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card_service .imagen {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card_service .imagen img {
  width: auto;
  max-width: 100%;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 767px) {
  .cards_services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .card_service {
    height: 200px;
    display: grid;
    grid-template-columns: 2.333fr 1fr;
  }

  .card_service .imagen {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 0px) and (max-width: 319px) {
  .cards_services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .card_service {
    height: 250px;
  }
}